<section class="flashback">
  <div class="container sans-serif">
    <h2 class="red b ttu">flashback<br>expo days</h2>
    <p class="intro">Odio luctus elementum congue mollis habitant senectus tempus nam, dui ridiculus consequat montes elit purus. Himenaeos congue leo euismod tincidunt odio quam nam non eget, ultricies fringilla accumsan venenatis velit convallis eros aenean, netus placerat lacinia turpis egestas ante habitasse pretium. Duis quis et ultrices feugiat blandit etiam molestie primis erat, bibendum inceptos efficitur fusce pulvinar quam eleifend class turpis, nec purus phasellus libero cursus natoque praesent auctor.</p>
  </div>
  <div class="flashback__grid">
    {% for image in site.static_files %}
      {% if image.path contains 'img/flashback' %}
      <div class="flashback__item"">
        <a href="{{ image.path }}" data-caption="{{ image.basename }}">
          <img src="{{ image.path }}" alt="{{ image.basename }}">
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="expand_bar">
    <div class="container">
      <p class="white sans-serif ttu b">Show more of our expo days</p>
    </div>
  </div>
</section>
