<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | truncate: 250 }}">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  <link rel="author" href="humans.txt">

  <title>{{ site.data.information.title | page.title }}</title>

  {% include social.html %}

  {% if page.layout == 'home' %}
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
</head>
