<section class="introduction sans-serif">
  <div class="container intro_container">
    <div class="intro_first red b ttu">
      <p>Wir bringen zwei Welten zusammen. Damit sich eure schneller dreht.</p>
    </div>
    <div class="intro_second">
      <p>STARTUP AUTOBAHN ist eine Innovationsplattform, die Startups Zugang zu Silicon Valleys unvergleichlichem Tech-Know-how und bester deutscher Hardware-Kompetenz ermöglicht. <br><br>
      Unsere Heimat ist Stuttgart: Geburtsstätte des Automobils, einer der weltweit führenden Regionen bei Patentzulassungen und Ballungszentrum von Wirtschaft, Technik und bahnbrechenden Erfindungen. <br><br>
      Namensgeber ist die deutsche Autobahn, weltweit bekannt als einzige ohne Tempolimit. Inspiriert von der Autobahn will STARTUP AUTOBAHN Ideen beschleunigen. Wie wäre es mit eurer?</p>
    </div>
  </div>
</section>
