<section class="mediapartner sans-serif">
  <div class="container">
    <h2 class="red ttu">Media<br>partner</h2>
    <div class="intro white">
      {{ page.mediapartner.intro | markdownify }}
    </div>
    <div class="mediaparter_logos">
      {% for mediapartner in site.data.mediapartner.mediapartners %}

      <a class="mediapartner_item pnp_card" href="{{ mediapartner.url }}" target="_blank">
        <figure>
          {% include svg/{{ mediapartner.logo_svg }} %}
          <figcaption>{{ mediapartner.name}}</figcaption>
        </figure>
      </a>

      {% endfor %}
    </div>
  </div>
</section>
