<div class="placeholder__inner">
  <div class="pnp_snowflake">
    {% include svg/pnp_snowflake.html %}
  </div>
  <div class="right logo">
    <div class="sa_logo">
      {% include svg/sa_pri_white_rgb.svg %}
    </div>
    <div class="dotevents_logo">
      {% include svg/dotevents.svg %}
    </div>
  </div>
  <div class="white sans-serif b ttu claim right">
    {{ page.claim | markdownify }}
    {% include scroll_down.html %}
  </div>
  <div class="white sans-serif sub right small">
    <div class="">
      <div class="btn_frame">
        <div class="btn ttu">
          <a href="mailto:hannah@pnptc.com">Reach out to us for more information</a>
        </div>
        <div class="btn_twitter">
          <!-- <a href="https://twitter.com/{{ site.data.information.twitter }}"><span class="fab fa-twitter"></span></a> -->
          <a href="https://www.linkedin.com/{{ site.data.information.linkedin }}" target="_blank"><span class="fab fa-linkedin-in"></span></a>
        </div>
      </div>
        {{ page.sub_header | markdownify | replace: '<p>', '<p class="sub_element">' }}
    </div>
  </div>

  <div id="expo_countdown" class="b sans-serif white">
    <p></p>
  </div>
</div>
