<!-- Airtable Access -->

{% assign agenda = site.data.schedule %}

<section class="schedule" id="schedule">
  <div class="container sans-serif">
    <h2 class="red b ttu">{{ page.schedule.title }}</h2>
    <div class="intro white">
      {{ page.schedule.intro | markdownify }}
    </div>
  </div>
  <div class="schedule_anchor">
    {% for el in agenda %}
      <div class="schedule_el br sans-serif schedule_el_{{ forloop.index }}" data-start="{{ el.start | date: "%H:%M" }}" data-end="{{ el.end | date: "%H:%M" }}" {% if el.stage %}data-stage="{{ el.stage }}"{% else %}data-stage="main"{% endif %}>
        <div class="schedule__stage_marker">
          {% if el.stage %}
          <p class="b ttu white">{{ el.stage }} {% unless el.stage == 'INNOVATION WALK' %}Stage{% endunless %}</p>
          {% endif %}
        </div>
        <time class="b">{{ el.start | date: "%H:%M" }} — {{ el.end | date: "%H:%M" }}</time>
        <div class="schedule_el__header">
          <h3 class="b ttu">{{ el.title }}</h3>
          {% if el.topic %}<p class="topic">{{ el.topic }}</p>{% endif %}
        </div>
        {% if el.tags %}
        <div class="schedule__tags">
          {% for tag in el.tags %}
            <p class="br ttu white b">{{ tag }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% if el.keynotes or el.startups or el.panelists %}
          <p class="ttu b speaker_head">Speaker</p>
          <ul>
          {% for el in el.keynotes %}
            {% assign keynote = site.data.keynotes | where:"id", el %}
            {% assign speakers = speakers | concat: keynote %}
          {% endfor %}

          {% for el in el.panelists %}
            {% assign panelist = site.data.panelists | where:"id", el %}
            {% assign speakers = speakers | concat: panelist %}
          {% endfor %}

          {% for el in el.startups %}
            {% assign startup = site.data.startups | where:"id", el %}
            {% assign speakers = speakers | concat: startup %}
          {% endfor %}


          {% for speaker in speakers  %}
            <li><span class="ttu b">{{ speaker.speaker_surename }} {{ speaker.speaker_name }}</span><br>{{ speaker.speaker_profession }}{% if speaker.speaker_profession and speaker.company %}, {% endif %}{{ speaker.company }}</li>
          {% endfor %}
          {% assign speakers =  %}
          </ul>
        {% endif %}
        {% if el.host_keynotes or el.host_panelists %}
          <p class="ttu b speaker_head">Host</p>
          <ul>
          {% for el in el.host_keynotes %}
            {% assign host_keynote = site.data.keynotes | where:"id", el %}
            {% assign hosts = hosts | concat: host_keynote %}
          {% endfor %}

          {% for el in el.host_panelists %}
            {% assign host_panelist = site.data.panelists | where:"id", el %}
            {% assign hosts = hosts | concat: host_panelist %}
          {% endfor %}

          {% for host in hosts  %}
            <li><span class="ttu b">{{ host.speaker_surename }} {{ host.speaker_name }}</span><br>{{ host.speaker_profession }}{% if host.speaker_profession and host.company %}, {% endif %}{{ host.company }}</li>
          {% endfor %}
          {% assign hosts =  %}
          </ul>
        {% endif %}
        {{ el.info | markdownify }}
        {% if el.stage %}
        <div class="schedule_open white b ttu">
          <p>{{ el.stage }}</p>
          <p>Stage <i class="fas fa-caret-down"></i></p>
        </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
