<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.data.information.twitter }}">
<meta name="twitter:creator" content="{{ site.data.information.twitter }}">
<meta name="twitter:url" content="{{ site.data.information.url }}">
<meta name="twitter:title" content="{{ site.data.information.title }}">
<meta name="twitter:description" content="{{ site.data.information.description | truncate: 200 }}">
<meta name="twitter:image" content="{{ site.data.information.image }}">
