<section class="speaker sans-serif">

  <div class="speaker__inner keynotes container">

    <div class="speaker__section ttu red">
      <div class="header">
        <h3 class="no_margin">our speakers</h3>
        <p class="sub_title dark b">Keynotes</p>
      </div>
    </div>

    <div class="speaker__frame">

      {% for keynote in site.data.keynotes %}{% if keynote.include %}
      <div class="speaker__item">
        <div class="speaker__image" {% if keynote.image %}style="background-image: url('{{ keynote.image[0].thumbnails.full.url }}')"{% endif %}>
          {% unless keynote.image %}
            <div class="keynote_logo_fallback">
            </div>
          {% endunless %}
        </div>
        <div class="speaker__info">
          <h4>{{ keynote.surename }} {{ keynote.name }}</h4>
          {% if keynote.profession %}
          <p class="position ttu">{{ keynote.profession }}</p>
          {% endif %}
          {% if keynote.company %}
          <p class="company ttu">{{ keynote.company }}</p>
          {% endif %}
          <p class="desc">
            {{ keynote.bio }}
            <br><br>
            {{ keynote.topic}}
            {{ keynote.description}}
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>
      {% endif %}{% endfor %}

    </div>

  </div>


  <div class="speaker__inner container">

    <div class="speaker__section ttu red">
      <div class="header">
        <h3 class="no_margin">our speakers</h3>
        <p class="sub_title dark b">Program-Startups</p>
      </div>
    </div>

    <div class="speaker__frame">

      {% for startup in site.data.startups %}{% if startup.include %}
      <div class="speaker__item">
        <div class="speaker__image" {% if startup.speaker_image %}style="background-image: url({{ startup.speaker_image }})"{% endif %}>
          {% unless startup.speaker_image %}
            <div class="startup_logo_fallback" style="background-image:url({{ startup.logo[0].url }})">
            </div>
          {% endunless %}
        </div>
        <div class="speaker__info">
          <h4>{% if startup.speaker_name %}{{ startup.speaker_name }}{% else %}{{ startup.name }}{% endif %}</h4>
          {% if startup.speaker_name AND startup.speaker_position %}
          <p class="position ttu">{{ startup.speaker_position }}</p>
          {% endif %}
          {% if startup.speaker_name %}
          <p class="company ttu">{{ startup.name }}</p>
          {% endif %}
          <p class="desc">
            {% if startup.description %}
            {{ startup.description }}
            {% else %}
            {{ startup.blurb }}
            {% endif %}
            <a class="link" href="{{ startup.website }}">Check out their Website</a>
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>
      {% endif %}{% endfor %}


    </div>

  </div>

</section>
