<section class="speaker sans-serif">
  <div class="speaker__inner container">

    <div class="speaker__section ttu red">
      <div class="header">
        <h3 class="no_margin">our speakers</h3>
        <p class="sub_title dark b">Startups</p>
      </div>
    </div>

    <div class="speaker__frame">

      <div class="speaker__item">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/500x500/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>

      <div class="speaker__item">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/501x501/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>

      <div class="speaker__item">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/502x502/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>

      <div class="speaker__item">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/503x503/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="speaker__inner keynotes container">

    <div class="speaker__section ttu red">
      <div class="header">
        <h3 class="no_margin">our speakers</h3>
        <p class="sub_title dark b">Keynotes</p>
      </div>
    </div>

    <div class="speaker__frame">

      <div class="speaker__item">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/504x504/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>

      <div class="speaker__item" id="great">
        <div class="speaker__image" style="background-image: url(https://source.unsplash.com/505x505/?portrait)">

        </div>
        <div class="speaker__info">
          <h4>Albus Dumbledore</h4>
          <p class="position ttu">Magician</p>
          <p class="company ttu">Hogwarts School of Wizzardry</p>
          <p class="desc">
            Thestral dirigible plums, Viktor Krum hexed memory charm Animagus Invisibility Cloak three-headed Dog. Half-Blood Prince Invisibility Cloak cauldron cakes, hiya Harry! Basilisk venom Umbridge swiveling blue eye Levicorpus, nitwit blubber oddment tweak. Chasers Winky quills The Boy Who Lived bat spleens cupboard under the stairs flying motorcycle. Sirius Black Holyhead Harpies, you’ve got dirt on your nose. Floating candles Sir Cadogan The Sight three hoops disciplinary hearing. Grindlewald pig’s tail Sorcerer's Stone biting teacup. Side-along dragon-scale suits Filch 20 points, Mr. Potter.
          </p>
          <div class="read_more ttu">
            <p><i class="fas fa-caret-right"></i> Read More</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
