footer {
  background: $dark;
  min-height: 50px;
  @include display_flex;
  @include align-items(flex-end);
  padding: 25px 35px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include display_flex;
    @include align-items(flex-end);
    @include justify-content(flex-start);
    flex-wrap: wrap;
    @include media-query($medium){
      @include align-items(flex-end);
      @include justify-content(flex-end);
      margin-top: 0;
    };
    li {
      @include link-mix(white);
      display: inline;
      &:not(:last-of-type) {
        padding-right: 10px;
      }
      &.sm_title {
        font-size: 13px;
      }
      a {
        text-decoration: none;
        font-size: 13px;
      }
    }
  }
  .footer__inner {
    @include display_flex;
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include direction_column;
    width: 100%;
    @include media-query($medium){
      @include direction_row;
      @include align-items(flex-end);
    };
  }
  .footer__left {
    color: white;
    p {
      font-size: .6rem;
      margin: 0;
      opacity: .5;
      line-height: 1.3;
    }
  }
  .footer__right {
    @include display_flex;
    @include direction_column;
    margin-top: 20px;
    @include media-query($medium){
      margin-top: 0;
    };
  }
}
