section.introduction {
  margin: 50px 0 100px;
  @include media-query($small) {
    margin: 100px 0 250px;
  };
  @include media-query($medium) {
    margin: 250px 0;
  };
  p {
    font-size: 1rem;
  }
  .intro_container {
    margin: 0;
    max-width: 600px;
    padding: 0 1em;
    text-align: left;
    @include media-query($small) {
      text-align: center;
      margin: 0 auto;
      max-width: 750px;
      padding: 0 5em;
    };
    @include media-query($small) {
      max-width: unset;
    };
  }
  .intro{
    flex: 0 1 auto;
    @include media-query($medium){
      max-width: 750px;
      margin: 0 auto;
    };
    p {
      font-size: 1rem;
      @include media-query($medium){
        font-size: 120%;
      };
      &:last-of-type {
        display: inline-block;
        margin-top: 25px;
      }
    }
  }
  svg {
    max-width: 300px;
    fill: $dark;
  }
}
