section.schedule {
  background: $dark;
  padding: 100px 0;
  position: relative;
}

.schedule_el {
  width: 60%;
  background: white;
  position: absolute;
  z-index: 1;
  padding: 25px;
  top: 0;
  left: 55%;
  border: none;
  overflow: hidden;
  transform: translateX(-50%);
  &[data-stage]:not([data-stage='main']) {
    transform: none;
  }
  .schedule_open {
    display: none;
  }
  &.activated>* {
    transition: opacity ease-in-out .4s;
    opacity: 1;
  }
  &.deactivated {
    cursor: pointer;
    &:before {
      content: '';
      background: $red;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &>*:not(.schedule_open) {
      opacity: 0;
    }
    .schedule_open {
      @include display_flex;
      @include justify-content( flex-end );
      position: absolute;
      left: 0;
      bottom: 100%;
      transform: rotate(270deg) translate(-100%, 50%);
      transform-origin: bottom;
      width: 50px;
      white-space: nowrap;
      p {
        padding: 0;
        &+p {
          padding-left: 20px;
        }
      }
      i {
        margin-left: 10px;
        transform: scale(1.8);
      }
    }
  }
  &.animation_ready {
    transition: all linear .4s;
  }
  .schedule__stage_marker {
    background: $dark;
    padding: 5px 25px 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &:not([data-stage="main"]) {
    padding-top: 50px;
  }
  &[data-stage="main"] .schedule__stage_marker {
    display: none;
  }
  &[data-stage="FUTURE OF MOBILITY"]  {
    .schedule__stage_marker,
    .schedule__tags p,
    &.deactivated:before {
      background: $green;
    }
  }
  &[data-stage="FUTURE OF PRODUCTION"]  {
    .schedule__stage_marker,
    .schedule__tags p,
    &.deactivated:before {
      background: $red;
    }
  }
  &[data-stage="FUTURE OF ENTERPRISE"]  {
    .schedule__stage_marker,
    .schedule__tags p,
    &.deactivated:before {
      background: $yellow;
    }
  }
  .schedule_el__header {
    margin: .5em 0 1em;
  }
  p {
    font-size: .9em;
    max-width: 600px;
  }
  time {
    font-size: 11px;
    opacity: .5;
  }
  h3 {
    font-size: 16px;
    line-height: 1.2em;
    margin: 0;
  }
  ul {
    padding-left: 0;
    list-style: none;
    margin: 0 0 20px;
    font-size: .8em;
    li {
      &+li {
        margin-top: .6em;
      }
    }
  }
  p.speaker_head {
    opacity: .5;
    font-size: 11px;
  }
  .schedule__tags {
    @include display_flex;
    margin-bottom: 1em;
    p {
      display: inline;
      padding: 4px 10px 2px;
      border: none;
      font-size: .8em;
      background: black;
      & + p {
        margin-left: 5px;
      }
    }
  }
}

.schedule_hour {
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, .5);
  min-height: 100px;
  box-sizing: border-box;
  .schedule_hour_time {
    background: $dark;
    transform: translateY(-50%);
    display: inline-block;
    left: 2%;
    position: relative;
    padding: 5px;
  }
}
