section.schedule {
  background: $dark;
  padding: 100px 0;
  position: relative;
}

.schedule_el {
  width: 60%;
  background: white;
  position: absolute;
  z-index: 1;
  padding: 25px;
  top: 0;
  left: 55%;
  border: none;
  transform: translateX(-50%);
  &[data-stage]:not([data-stage='main']) {
    transform: none;
  }

}

.schedule_hour {
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, .5);
  min-height: 100px;
  box-sizing: border-box;
  .schedule_hour_time {
    background: $dark;
    transform: translateY(-50%);
    display: inline-block;
    left: 2%;
    position: relative;
    padding: 5px;
  }
}
