.speaker {
  margin: 50px auto;
  .speaker__inner {
    @include display_flex;
    // flex-wrap: wrap;
    @include direction_column;
    @include media-query($medium){
      @include direction_row;
      margin: 100px auto;
    };
    &:not(.keynote) {
      margin-top: 50px;
      @include media-query($medium) {
        margin-top: 100px;
      };
    }
  }
  .speaker__section {
    margin-right: 50px;
    @include media-query($small){
      //flex: 1 0 150px;
    };
    @include media-query($medium){
      flex: 1 0 200px;
    };
  }
  .speaker__frame {
    @include display_flex;
    flex-wrap: wrap;
    // fix for margin top on speaker__item
    @include media-query($small){
      margin-top: -25px;
    };
  }
  .speaker__item {
    //width: 200px;
    border-radius: 5px;
    overflow: hidden;
    @include display_flex;
    //width: calc(50% - 20px);
    height: 200px;
    margin: 10px 0;
    min-width: 300px;
    max-width: 800px;
    transition: all ease-in-out .6s;
    @include media-query($small){
    margin: 25px 0;
    };
    @include media-query($large){
      width: calc(100%/2 - 20px);
    };
    @include media-query($xtra-large){
      width: calc(100%/3 - 20px);
    };
  }
  .speaker__image {
    height: 100%;
    width: 100%;
    margin-right: 10px;
    flex: 0 0 100px;
    background-color: #f1f1f1;
    @include display_flex;
    @include justify-content(center);
    @include align-items(center);
    @include media-query($medium){
      flex: 0 0 200px;
    };
    .image_bg {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &,
      &.lazyload,
      &.lazyloading {
        opacity: 0;
      }
      &.lazyloaded {
        opacity: 1;
        transition: opacity .6s;
      }
    }
    .startup_logo_fallback {
      width: 60%;
      height: 40%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &,
      &.lazyload,
      &.lazyloading {
        opacity: 0;
      }
      &.lazyloaded {
        opacity: 1;
        transition: opacity .6s;
      }
    }
  }
  .speaker__info {
    position: relative;
    margin: 20px;
    margin-left: 0;
    overflow: hidden;
    flex: 0 1 auto;
    @include media-query($small){
      margin: 20px;
    };
    p {
      font-size: .85rem;
      line-height: 1.5em;
      padding: 0;
      margin: 0;
      flex: 0 1 auto;
      & + p {
        padding-top: .5em;
      }
    }
    .desc {
      margin-top: .5em;
    }
    a.link {
      display: block;
      margin-top: .5em;
    }
    p.position,
    p.company {
      padding: 0;
      margin: 0;
      font-size: .8rem;
      color: $red;
      flex: 1 0 auto;
    }
    .read_more {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 45px;
      width: 100%;
      padding-top: 35px;
      opacity: 1;
      cursor: pointer;
      transition: all ease-in-out .6s;
      @include align-items(center);
      z-index: 1;
      display: none;
      &.true {
        @include display_flex;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 100%, 0) 0%,
          hsla(0, 0%, 100%, 0.011) 3%,
          hsla(0, 0%, 100%, 0.042) 5.3%,
          hsla(0, 0%, 100%, 0.091) 7.3%,
          hsla(0, 0%, 100%, 0.154) 9.2%,
          hsla(0, 0%, 100%, 0.228) 11.3%,
          hsla(0, 0%, 100%, 0.312) 13.7%,
          hsla(0, 0%, 100%, 0.401) 16.9%,
          hsla(0, 0%, 100%, 0.494) 21.1%,
          hsla(0, 0%, 100%, 0.588) 26.5%,
          hsla(0, 0%, 100%, 0.679) 33.4%,
          hsla(0, 0%, 100%, 0.764) 42.1%,
          hsla(0, 0%, 100%, 0.842) 52.8%,
          hsla(0, 0%, 100%, 0.909) 65.9%,
          hsla(0, 0%, 100%, 0.963) 81.5%,
          hsl(0, 0%, 100%) 100%
        );
        transition: all ease-in-out .6s;
      }
      p {
        font-size: .7rem;
      }
    }
    &.speaker__info_more {
      @include display_flex;
      @include align-items(center);
      p {
        font-size: 1.4rem;
        line-height: 0.9;
        opacity: .2;
        @include media-query($medium) {
          font-size: 2rem;
        };
      }
    }
  }
  .active .read_more {
    &:before {
      opacity: 0;
    }
  }
}

.keynotes {
  margin-top: 50px;
  .speaker__frame {
    width: 100%;
  }
  .speaker__item {
    width: 100%;
    max-width: unset;
    .speaker__info {
      max-width: 1000px;
    }
    .speaker__image {
      max-width: 200px;
    }
  }
  .keynote_logo_questionmark {
    width: 60%;
    height: 40%;
    svg {
      width: 100%;
      height: 100%;
      opacity: .2;
    }
  }
}
