
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

// Thin

@font-face {
  font-family:'Noway';
  font-style: regular;
  font-weight: 100;
  src:local('Noway Thin'),local('Noway-Thin'),url(/assets/fonts/Noway/noway_thin-webfont.woff) format('woff');
}


@font-face {
  font-family:'Noway';
  font-style: italic;
  font-weight: 100;
  src:local('Noway Thin Italic'),local('Noway-Thin-Italic'),url(/assets/fonts/Noway/noway_thin_italic-webfont.woff) format('woff');
}

// Light

@font-face {
  font-family:'Noway';
  font-style: regular;
  font-weight: 300;
  src:local('Noway Light'),local('Noway-Light'),url(/assets/fonts/Noway/noway_light-webfont.woff) format('woff');
}

@font-face {
  font-family:'Noway';
  font-style: italic;
  font-weight: 300;
  src:local('Noway Light Italic'),local('Noway-Light-Italic'),url(/assets/fonts/Noway/noway_light_italic-webfont.woff) format('woff');
}

// Regular

@font-face {
  font-family:'Noway';
  font-style: normal;
  font-weight:400;
  src:local('Noway Regular'),local('Noway-Regular'),url(/assets/fonts/Noway/noway-regular-webfont.woff) format('woff');
}

@font-face {
  font-family:'Noway';
  font-style: italic;
  font-weight:400;
  src:local('Noway Regular Italic'),local('Noway-Regular-Italic'),url(/assets/fonts/Noway/noway_regular_italic-webfont.woff) format('woff');
}

// Medium

@font-face {
  font-family:'Noway';
  font-style: normal;
  font-weight:500;
  src:local('Noway Medium'),local('Noway-Medium'),url(/assets/fonts/Noway/noway-medium-webfont.woff) format('woff');
}

@font-face {
  font-family:'Noway';
  font-style: italic;
  font-weight:500;
  src:local('Noway Medium Italic'),local('Noway-Medium-Italic'),url(/assets/fonts/Noway/noway_medium_italic-webfont.woff) format('woff');
}

// Bold

@font-face {
  font-family:'Noway';
  font-style: normal;
  font-weight:700;
  src:local('Noway Bold'),local('Noway-Bold'),url(/assets/fonts/Noway/noway-bold-webfont.woff) format('woff');
}

@font-face {
  font-family:'Noway';
  font-style: italic;
  font-weight:700;
  src:local('Noway Bold Italic'),local('Noway-Bold-Italic'),url(/assets/fonts/Noway/noway_bold_italic-webfont.woff) format('woff');
}

// Mono

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
