---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body{% if page.layout == 'placeholder' %} class="placeholder"{% endif %}>

    {{ content }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ "assets/js/fancybox.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/home.js" | prepend: site.baseurl }}"></script>

    {% if page.layout == 'four_o_four' %}
    <script type="text/javascript">
      var window_height = $(window).height();
      $('.four_o_four').css('min-height', window_height);
    </script>
    {% endif %}
  </body>

</html>
